{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Página de Ejemplo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'moviesApp/output.css'%}" rel="stylesheet">
    </head>
    <body class="font-sans max-w-4xl mx-auto">
    <header class="h-12 w-full text-center mx-auto mt-5 border-b-2 border-sky-500">
        <h1 class="font-medium text-3xl">My Movies</h1>
    </header>
    
    <article>
        <div class="flex h-[32rem] bg-slate-200 my-4">
            <img class="" src="img/imigame.jpg" alt="the imitation game poster">
            <header>
            <h1 class="movie-title"> {{ movie.title }}</h1>
            <div class="movie-info">
                <p>  12/19/2014 -</p> 
                <ul class="movie-genre"> 
                    <li> {{ movie.genres}} | </li>
                    <li> Drama | </li>
                    <li> Thriller | </li>
                    <li> War </li>
                </ul>
                <p>- 1h 53m</p>  
            </div>         
            
            <h1>Overview</h1>
            <p>{{ movie.overview }}</p>
            <img src="{% static 'movies/assets/img/'|add:movie.poster_path %}" alt="imagen">
            <details>
                <summary>Production Details</summary>
                <p> Budget: $14,000,000.00 </p>
                <p> Revenue: $233,555,708.00</p>
            </details>
            </header>
        </div>

        <h1>Top Billed Cast</h1>
        <div class=""> 
            <div class="text-3xl"> 
                <p><a href="github.com\miusuario\elrepo"> GitHub Repository</a></p>
            </div>
            <div class="font-medium"> 
                {% for m in movie_credits %}
                    {% if movie.title|slugify == m.movie|slugify %}
                        {% for p in person %}
                            {% if m.person|slugify == p.name|slugify %}  
                                <p>---------------------------------------------------</p>  
                                <p><a href="/person/{{p.id}}/">Persona: {{p.name}}</a></p>
                                <p>Puesto: {{m.job}}</p>
                                <p>Character: {{p.character}}</p>
                                <p>---------------------------------------------------</p>  
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <h1> Keira Knightley</h1>
            </div>
        </div>
    </article>

    <footer>
        <p class="text-3xl"> Proyectosss de ejemplo de la materia Programación Web</p>
        <p><a href="github.com\miusuario\elrepo"> GitHub Repository</a></p>
    </footer>

    </body>
</html>